################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VincenteNguyen/v16
/.vs/slnx.sqlite
